.block-button-section-1 {
    width: 100%;
    height: max-content;
    min-height: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.after-block-section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 50px 0;
}

.container-after>p {
    width: 600px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #022826;
    padding: 0 97px 0 0;
}

.container-after {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container-after:nth-child(2)>p {
    text-align: left;
    padding: 0 0 0 97px;
}

@media screen and (max-width: 768px) {
    .container-after>p {
        text-align: center;
        padding: 50px 100px 0 100px;
        width: 100%;
        font-size: 15px;
    }

    .container-after:nth-child(2)>p {
        text-align: center;
        padding: 0px 100px 0 100px;
    }

}

@media screen and (max-width: 425px) {
    .container-after>p {
        text-align: center;
        padding: 50px 25px 0 25px;
        width: 100%;
        font-size: 15px;
    }

    .container-after:nth-child(2)>p {
        text-align: center;
        padding: 0px 25px 0 25px;
    }

}


@media screen and (max-width: 920px) {

    .block-button-section-1{
        flex-wrap: wrap;
    }
}
