.container-list {
    max-width: 1084px;
    padding: 35px 0 0 0;
}

.container-title {
    font-size: 22px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #022826;
}

.container-list>ul {
    list-style-type: none;
}

ul>li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 15px 0;
}

li>img {
    margin-right: 20px;
}

@media screen and (max-width: 1150px) {
    .container-title {
        text-align: center;

    }

    .container-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 35px 0 35px 0;
    }
}

@media screen and (max-width: 425px) {
    .container-title, .container-list > ul {
       margin: 0 20px 0 20px;
    }
}

