* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #hidden-desktop{
    display: none;
  }
  
#menu-desktop{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#menu-mobile{
  display: none;
}

.icon-header{
  width: 40px;
  height: auto;
}

.is-active{
  opacity: 1 !important;

}
  
  header {
    width: 100%;
    height: 60px;
    background-color: #4f65a0;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo-header {
    width: 167px;
    height: auto;
    margin-left: 40px;
  }
  
.text-header {
  color: #ffffff;
  opacity: 0.6;
  text-transform: uppercase;
  font-family: "Mulish", sans-serif;
  margin: 0px 30px 0px 30px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;

}
  
  .text-header:nth-child(3) {
    margin-right: 82px;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .section-01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: 100%;
    background-color: #5374c9;
  }
  
  .title-accueil {
    color: #ffffff;
    font-family: "Mulish", sans-serif;
    font-weight: 900;
    font-size: 40px;
    width: 830px;
    text-align: center;
    margin: 50px 0px 32px 0px;
  }
  
  .subtitle-accueil {
    color: #022826;
    font-family: "Mulish", sans-serif;
    font-size: 22px;
    font-weight: 900;
    margin: 0px 0px 48px 0px;
    width: 1089px;
  }
  
  .container-button-section-01{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 0px 44px 0px;
  }
  
  .left-section-01 > .button-section-01 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 8.4px 13px 10px;
    border-radius: 12px;
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #355086;
    width: 279px;
    margin: 0px 0px 0px 0px;
    border: solid 2px #57c18b;
  }
  .right-section-01 > .button-section-01 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 8.4px 13px 10px;
    border-radius: 12px;
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #355086;
    width: 445px;
    border: solid 2px #57c18b;
  }
  
  .button-section-01 > img {
    width: 24px;
    height: auto;
    margin-top: 4px;
  }
  
  .left-section-01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 282px 0px 258px;
  }
  
  .right-section-01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 175px 0px 0px;
  }
  
  .title-right-section-01 {
    font-family: "Mulish", sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 2;
    color: #355086;
    text-transform: uppercase;
    margin: 17px 0px 7px 0px;
  }
  
  
  .section-02{
    width: 100%;
    height: max-content;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title-section-02 {
    color: #355086;
    font-family: "Mulish", sans-serif;
    font-size: 40px;
    font-weight: 900;
    margin: 40px 0px 50px 0px;
    line-height: 1.25;
  }
  
  .schema-section-02 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .top-schema-section-02 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .box-schema-section-02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10.5px 0px 10.5px;
  }
  
  .box-int-schema-section-02 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .int-box-schema-section-02 {
    color: #022826;
    font-family: "Mulish", sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 256px;
    height: 197px;
    border-radius: 20px;
    padding: 0px 19px 0px 19px;
    text-align: center;
    border: solid 2px rgba(135, 204, 255, 0);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: #ffffff;
  }
  
  .title-schema-box-section-02 {
    color: #57c18b;
    font-family: "Mulish", sans-serif;
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  
  .bottom-schema-section-02 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .icon-arrow-section-02 {
    width: 48px;
    height: auto;
    margin: 0px 16px 0px 16px;
  }
  
  .icon-arrow-bottom-section-02 {
    width: 48px;
    height: auto;
    margin: 21px 0px 17px 0px;
  }
  
  .text-detail-schema-section-02 {
    margin: 50px 0px 47px 0px;
    font-family: "Mulish", sans-serif;
    color: #022826;
    font-size: 22px;
    font-weight: bold;
    width: 1089px;
    text-align: center;
  }
  
  .button-detail-schema-section-02 {
    color: #ffffff;
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.24px;
    background-color: #355086;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    padding: 8.4px 13px 10px;
    margin: 0px 0px 57px 0px;
  }
  
  .button-detail-schema-section-02 > img {
    width: 24px;
    height: auto;
  }

  .section-03 {
    background-color: #ffffff;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title-section-03 {
    color: #355086;
    font-family: "Mulish", sans-serif;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    width: 1089px;
    margin: 50px 0px 20px 0px;
  }

  .title-section-03:nth-child(3) {
    color: #355086;
    font-family: "Mulish", sans-serif;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    width: 1089px;
    margin: 98px 0px 142px 0px;
  }

  .title-section-03:nth-child(5) {
    color: #355086;
    font-family: "Mulish", sans-serif;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    width: 1089px;
    margin: 0px 0px 142px 0px;
  }
  
  .subtitle-section-03 {
    color: #57c18b;
    font-family: "Mulish", sans-serif;
    font-size: 32px;
    font-weight: 900;
    line-height: 1.56;
    margin: 0px 0px 0px 0px;
    width: 1089px;
    text-align: center;
  }

  

  .button-section-03 {
    padding: 8.4px 13px 10px 13px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 60px 0px 60px;
    background-color: #355086;
    margin: 0px 0px 193px 0px;
  }
  
  .button-section-03 > img {
    width: 24px;
    height: auto;
  }

  
  .box-one-section-03 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 70px 0px;
  }
  
  .text-box-one-section-03 {
    color: #022826;
    width: 621px;
    font-family: "Mulish", sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-right: 97px;
    text-align: right;
  }
  
  .img-box-one-section-03 {
    width: 300px;
    height: auto;
  }
  
  .box-two-section-03 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 182px 0px;
  }
  
  .text-box-two-section-03 {
    color: #022826;
    width: 621px;
    font-family: "Mulish", sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin: 0px 0px 0px 97px;
  }
  
  .img-box-two-section-03 {
    width: 300px;
    height: auto;
  }
  
  .section-04 {
    background-color: #f3f3f3;
    height: max-content;
    min-height: 734px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title-section-04 {
    color: #355086;
    font-family: "Mulish", sans-serif;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    width: 1089px;
    margin: 40px 0px 31px 0px;
  }
  
  .detail-form-section-04 {
    color: #355086;
    font-family: "Mulish", sans-serif;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
  }
  
  .left-form-section-04 > .detail-form-section-06:last-child {
    margin-top: 41px;
  }
  
  .form-section-04 {
    display: flex;
    flex-direction: row;
  
    justify-content: center;
  }
  
  .left-form-section-04 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .right-form-section-04 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .container-form-section-04 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 31px 0px;
  }
  
  .top-form-section-04 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .text-radio-section-04 {
    color: #022826;
    font-family: "Mulish", sans-serif;
    font-size: 18px;
    font-weight: 500;
  }
  
  .select-section-04 {
    margin: 0px 0px 60px 25px;
    background-color: #ffffff;
    padding: 15px 10px 17px 20px;
    border-radius: 8px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    color: #022826;
    font-family: "Mulish", sans-serif;
    font-size: 18px;
    font-weight: 500;
    outline: none;
  }
  
  .form-input-section-04 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 50;
  }
  
  .merge-input-section-04 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .merge-input-section-04 > input {
    width: 330px;
    margin: 0px 20px 60px 20px;
  }
  
  .merge-input-section-04 > input:first-child {
    margin-left: 25px;
  }
  
  .merge-input-section-04 > input:last-child {
    margin-right: 0px;
  }
  
  .input-section-04 {
    width: 700px;
    height: 60px;
    margin: 0px 0px 60px 25px;
    background-color: #ffffff;
    padding: 15px 10px 17px 20px;
    border-radius: 8px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    color: #022826;
    font-family: "Mulish", sans-serif;
    font-size: 18px;
    font-weight: 500;
    outline: none;
  }

  .text-area-section-04 {
    width: 700px;
    height: 134px;
    margin: 0px 0px 60px 25px;
    background-color: #ffffff;
    padding: 15px 10px 17px 20px;
    border-radius: 8px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    color: #022826;
    font-family: "Mulish", sans-serif;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    resize: none;
  }

  
  .button-section-04 {
    padding: 8.4px 13px 10px 13px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 60px 0px 60px;
    background-color: #355086;
    margin: 0px 0px 58px 0px;
  }
  
  .button-section-04 > img {
    width: 24px;
    height: auto;
  }
  
  
  