@media screen and (max-width: 1140px) {
  .title-accueil {
    margin-left: 50px;
    margin-right: 50px;
    width: initial;
  }

  .subtitle-accueil {
    margin-left: 50px;
    margin-right: 50px;
    width: initial;
    text-align: center;
  }

  .section-02 {
    flex-direction: column;
  }

  .left-section-02 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .right-section-02 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 54px;
  }

  .title-section-03 {
    margin-left: 50px;
    margin-right: 50px;
    width: initial;
  }

  .subtitle-section-03 {
    margin-left: 50px;
    margin-right: 50px;
    width: initial;
    text-align: center;
  }

  .box-one-section-03 {
    flex-direction: column;
  }

  .text-box-one-section-03 {
    margin-left: 50px;
    margin-right: 50px;
    width: initial;
    text-align: center;
  }

  .box-two-section-03 {
    flex-direction: column;
  }

  .text-box-two-section-03 {
    margin-left: 50px;
    margin-right: 50px;
    width: initial;
    text-align: center;
  }

  .title-section-04 {
    margin-left: 50px;
    margin-right: 50px;
    width: initial;
    text-align: center;
  }

  .schema-section-04 {
    flex-direction: column;
  }

  .top-schema-section-04 {
    flex-direction: column;
  }

  .bottom-schema-section-04 {
    flex-direction: column;
  }

  #hidden-desktop {
    display: flex;
  }

  #hidden-mobile {
    display: none;
  }

  .title-schema-box-section-04 {
    margin-right: 0px;
  }

  .text-detail-schema-section-04 {
    margin-left: 50px;
    margin-right: 50px;
    width: initial;
    text-align: center;
  }

  .title-section-05 {
    margin-left: 50px;
    margin-right: 50px;
    width: initial;
    text-align: center;
  }

  .subtitle-section-05 {
    margin-left: 50px;
    margin-right: 50px;
    width: initial;
    text-align: center;
  }

  .carousel-section-05 {
    flex-wrap: wrap;
  }

  .container-box-section-05 {
    margin-top: 30px;
  }

  .button-section-05 {
    margin-bottom: 30px;
    text-align: center;
  }

  .box-button-section-05 {
    flex-direction: column;
  }

  .title-section-06 {
    margin-left: 50px;
    margin-right: 50px;
    width: initial;
    text-align: center;
  }

  .form-input-section-06 {
    width: 100%;
  }

  .input-section-06 {
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
  }

  .merge-input-section-06 {
    flex-direction: column;
    width: 100%;
  }

  .merge-input-section-06 > input:first-child {
    margin-left: 25px;
    margin-right: 25px;
  }

  .merge-input-section-06 > input:last-child {
    margin-left: 25px;
    margin-right: 25px;
  }

  .merge-input-section-06 > input {
    width: 100%;
  }

  .container-form-section-06 {
    flex-direction: column;
  }

  .container-form-section-06:nth-child(2) {
    margin-bottom: 0px;
  }

  .select-section-06 {
    margin-top: 10px;
    margin-left: 0px;
    width: 100%;
  }

  .radio-section-06 {
    margin: 10px 10px 0px 0px;
  }

  .box-schema-section-04:nth-child(3){
    order: 1;
  }

  .box-schema-section-04:nth-child(2){
    order: 2;
  }

  .box-schema-section-04:nth-child(1){
    order: 3;
  }
}

@media screen and (max-width: 650px) {
  .carousel-section-05 {
    flex-direction: column;
  }
  #container-ecocode {
    margin-right: 0px;
  }
  .container-logo-section-05 {
    margin-right: 0px;
  }

  .detail-container-section-05 {
    margin-right: 0px;
  }

  .left-section-02 > .button-section-02 {
    width: 100%;
    text-align: center;
  }

  .right-section-02 > .button-section-02 {
    width: 100%;
    text-align: center;
  }

  .title-accueil{
    font-size: 30px;
  }

  .title-section-03{
    font-size: 30px;
    line-height: normal;
  }

  .title-section-04{
    font-size: 30px;
    line-height: normal;
  }

  .title-section-05{
    font-size: 30px;
    line-height: normal;
  }

  .title-section-06{
    font-size: 30px;
    line-height: normal;
  }

  .subtitle-accueil{
    font-size: 15px;
    line-height: normal;
  }

  .subtitle-section-03{
    font-size: 25px;
    line-height: normal;
    margin-bottom: 50px;
  }

  .box-two-section-03{
    margin-bottom: 50px;
  }

  .subtitle-section-05{
    font-size: 25px;
    line-height: normal;
    margin-bottom: 10px;
  }

  .box-button-section-05{
    margin-bottom: 50px;
  }


}


@media screen and (max-width: 768px) {
#menu-mobile{
    display: flex;
}

#menu-desktop{
    display: none;
}

.responsive{
    display: flex !important;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #3b4c72ff;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.responsive > a {
    margin-left: 40px;
    margin-bottom: 10px;
}

}