@import "variables.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Mulish Variable', sans-serif;
    font-weight: 500;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
}

p {
    color: var(--color-on-surface);
}

.heading-2 {
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    margin: 0 1rem;
    max-width: 1200px;
    color: var(--color-primary);
}

.heading-3 {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    margin: 0 1rem;
    max-width: 1050px;
    color: var(--color-secondary);
}

@media screen and (max-width: 768px) {
    .heading-2 {
        font-size: 2rem;
    }
    .heading-3 {
        font-size: 1.5rem;
    }
}

.error-message {
    color: red;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    transition: opacity 2s ease;
}

.success-message {
    color: var(--color-secondary);
    font-size: 18px;
    font-weight: 500;
    outline: none;
    transition: opacity 2s ease;
}
