:root {
    --color-primary: #355086;
    --color-primary-lighter: hsl(220, 43%, 65%);
    --color-primary-focus-ring: hsl(220, 43%, 37%, 20%);
    --color-secondary: #57c18b;
    --color-on-surface: #022826;
}
